.center.hero-unit
    %h1 Welcome to the BJJ Fantasy League
    %h2 I'm building a web app that will let you pick black belts in each weight category before major tournaments. You get points for matches they win, more points for submissions, bonus points for medals. Who can pick the fighters?
    = link_to "Let's Roll", "#", class: "button btn btn-primary"
