- if @fighter.errors.any?
    #error_explanation
        .alert.alert-error
            The form contains 
            = pluralize(@fighter.errors.count, "error")
        %ul
        - @fighter.errors.full_messages.each do |msg|
            %li 
                = msg
